@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("../public/fonts/stylesheet.css");

body {
  min-height: 100vh;
}

@keyframes slide {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 10s linear infinite;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}